<div class="containers">
  <div class="wrapper">
    <div class="product-img">
      <img [src]="data.images[0].thumbnail" height="420" width="327" />
    </div>
    <div class="product-info">
      <div class="product-text">
        <h1>{{ data.title }}</h1>
        <div style="text-align: center">
          <span style="font-size: 1.5rem">Price:</span>
          <del *ngIf="data.discounted_price > 0"
            >{{ data.original_price }}$</del
          >
          <span style="color: brown; margin-left: 0.2rem"
            >{{ data.price }}$</span
          >
        </div>
      </div>
      <div class="product-price-btn">
        <button>buy now</button>
      </div>
    </div>
  </div>
  <div class="text-center">
    <!-- <app-spinner *ngIf="loading"></app-spinner> -->
  </div>
</div>
<!-- *ngIf="!loading" -->
